/* Scroll Bar */
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #36393a; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #a1a1a1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    
    background: #a1a1a1; 
}
