a {
    text-decoration: none;
}

table.dataTable {
    color: unset;
    width: 100% !important;
}

hr {
    border-top: 1px solid #42474c;
}

.ck.ck-editor__main {
color: #000;
}

.title {
    font-size: 5REM;
    TEXT-ALIGN: center;
    padding-top: 38px;

}

#scrollTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 999;
    font-size: 18px;
}

.ui-dialog {
    z-index: 1000;
}

h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a {
    font-weight: 100 !important;
}

.wave-corner img {
    position: relative;
}

div#page {
    overflow-x: hidden;
}

.masthead-img,
.masthead-img::before{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
}
.masthead-img {
    background-image: url("/themes/custom/biopama/img/bkgd_satellite_03.jpg");
}
.masthead-img::before {
    content: '';
    background-image: linear-gradient(to bottom right,#1f2123,#5c8b22ed);
    opacity: 0.96;
}

.dashboard-image-icon img {
    height: 70px;
}

.bio-footer-icon img {
    height: 70px;
}

.card-zoomed{
    zoom: 1;
    transform: scale(1);
    -moz-transform: scale(1);
    box-shadow:0px 0px 5px 5px rgba(24, 25, 25, 0.24);
}

.card-link {
    position: relative;
    right: -20%;
    width: 10rem;
    text-transform: uppercase;
}

.biopama-collapse[aria-expanded=false] .card-expanded,
.biopama-collapse[aria-expanded=true] .card-collapsed{
  display: none;
}


.dashboard-left-menu-item:hover {
    transform: scale(1.2);
    border-radius: 5px;
    opacity: 1;
}

div.chosen-container.form-select {
    padding: 1px;
    width: 100% !important;
    margin-top: 1px;
}

form.node-form .chosen-container-single .chosen-single {
    color: initial;
    box-shadow: inset 0px 0px 10px rgb(0 0 0 / 20%);
} 

.biopama-filters form.views-exposed-form .form-row {
    display: flex;
}
fieldset.js-form-type-select.js-form-item-field-country-iso3-value,
fieldset.js-form-type-select.js-form-item-country{
    display: flex;
    flex-direction: column;
    min-width: 20%;
}

i.far.fa-file-pdf {
    font-size: 3em;
}

em.placeholder {
    background: unset !important;
    cursor: unset !important;
}

.block-cheeseburgermenu-container {
    width: 500px;
}

table th {
    font-weight: 800 !important;
    font-variant: all-small-caps;
    font-size: medium;
    border: 0px !important;
}

table.dataTable tr {
    font-size: 15px;
}

table.dataTable td {
    border: 0px;
}

.form-control {
    cursor: pointer;
    margin: 2px;
}

.row img {
    width: auto;
}

div[data-cheeseburger-id="menu-language"] ul {
    display: flex;
}
div#block-languageswitcher--2 {
    display: none;
}
.biopama-chart{
    min-height: 300px;
}

#block-biopama-page-title{
    position: relative;
}
.biopama-logo{
    max-width: 20%;
}

#data_source{
    font-size: 12px;
    font-style: italic;
}

.count-chart-little-number{
    font-size: 0.5em;
}

div.dataTables_filter {
    display: inline;
    float: right;
}

.ui-dialog .ui-dialog-titlebar-close {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #ff7474;
}

.ui-dialog .ui-dialog-titlebar-close:hover {
    background-color: darkred;
}

.ui-dialog .ui-dialog-titlebar-close::before {
    content: '\f00d';
}

.menu-open-indicator {
    font-size: 16px !important;
    -webkit-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
    width: 40px!important;
    height: 40px!important;
  
  }

  .region-id-change{
    color: rgb(122 131 134)!important;
    
  }

  .bio-divider:before {
    content: "";
    display: inline-block;
    margin-left: 10%;
    width: 80%;
    height: 2px;
}

th {
    padding-top: 10px;
}

.view.view-talkingmaps{
    position: relative;
    color: white;
    z-index: 2000;
}

.cheeseburger-menu__backdrop--active {
    display: none;
}

body, html, p, a, li, h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a {
    font-family: "Maven Pro" !important;
}

.form-actions {
    background: unset !important; 
}

.field.field--name-field-dashboard-image-icon.field--type-image.field--label-hidden.field__item {
    background: #aaaaaa;
    padding: 10px;
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

div.alert {
    max-height: 500px;
    overflow: auto;
}

.field.field--name-field-dashboard-image-icon.field--type-image.field--label-hidden.field__item img {
    width: 100px;
    height: 100px;
}

.node-form .layout-region.layout-region-node-secondary {
    display: none;
}
.node-form .layout-region-node-main, .node-form .layout-region-node-footer {
    width: 100%;
}

.btn-sm.rounded-circle {
    width: 30px;
    height: 30px;
}

.card .card-image {
    position: relative;
}
.card .image-overlay {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    transition: all .3s ease-in-out;
}

.indicator-card-image{
    max-height: 200px;
    overflow: hidden;
}