{#
/**
 * @file
 * Theme override for a node edit form.
 *
 * Two column template for the node add/edit form.
 *
 * This template will be used when a node edit form specifies 'node_edit_form'
 * as its #theme callback.  Otherwise, by default, node add/edit forms will be
 * themed by form.html.twig.
 *
 * Available variables:
 * - form: The node add/edit form.
 *
 * @see seven_form_node_form_alter()
 */
#}
<div class="content clearfix row">
  <div class="col-12 layout-region layout-region-node-main">
    {{ form|without('advanced', 'actions') }}
  </div>
  <div class="col-12 layout-region-node-secondary">
    {{ form.advanced }}
  </div>
  <div class="col-12 layout-region-node-footer">
    {{ form.actions }}
  </div>
</div>
